In [2]:
import pandas as pd
import numpy as np

In [4]:
df  = pd.read_csv('newfb.csv')
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136013,Status,2,10,5,3,0,8896,17202,1480,1426,1932,13838,7020,1292,0,129,25.0,154
1,136013,Photo,1,10,4,10,1,4018,8617,428,374,616,6677,2992,351,4,77,19.0,100
2,136013,Link,1,10,4,3,0,68992,229733,1032,975,1345,17842,8032,635,15,143,44.0,202
3,136013,Status,3,10,3,10,0,13152,25666,2543,2438,3179,20547,10280,2278,2,227,36.0,265
4,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90.0,1009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,128032,Status,2,7,5,10,0,10188,16978,1473,1441,2136,14450,8536,1395,13,61,13.0,87
130,128032,Photo,1,7,5,3,0,6408,11881,909,861,14974,7243,4040,490,26,162,7.0,195
131,128032,Photo,1,7,4,9,1,3414,6050,515,493,710,5005,2704,340,2,47,4.0,53
132,128032,Photo,2,7,4,5,1,53056,65260,2003,1412,2089,23679,17104,975,6,696,28.0,730
133,128032,Photo,1,7,3,10,1,66976,111502,1191,1054,1641,40203,19968,708,7,215,47.0,269

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     134 non-null    int64
 1   Type                                                                 134 non-null    object
 2   Category                                                             134 non-null    int64
 3   Post Month                                                           134 non-null    int64
 4   Post Weekday                                                         134 non-null    int64
 5   Post Hour                                                            134 non-null    int64
 6   Paid                                                                 134 non-null    int64
 7   Lifetime Post Total Reach                                            134 non-null    int64
 8   Lifetime Post Total Impressions                                      134 non-null    int64
 9   Lifetime Engaged Users                                               134 non-null    int64
 10  Lifetime Post Consumers                                              134 non-null    int64
 11  Lifetime Post Consumptions                                           134 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         134 non-null    int64
 13  Lifetime Post reach by people who like your Page                     134 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  134 non-null    int64
 15  comment                                                              134 non-null    int64
 16  like                                                                 134 non-null    int64
 17  share                                                                133 non-null    float64
 18  Total Interactions                                                   134 non-null    int64
dtypes: float64(1), int64(17), object(1)
memory usage: 19.4+ KB

In [7]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136013,Status,2,10,5,3,0,8896,17202,1480,1426,1932,13838,7020,1292,0,129,25.0,154
1,136013,Photo,1,10,4,10,1,4018,8617,428,374,616,6677,2992,351,4,77,19.0,100
2,136013,Link,1,10,4,3,0,68992,229733,1032,975,1345,17842,8032,635,15,143,44.0,202
3,136013,Status,3,10,3,10,0,13152,25666,2543,2438,3179,20547,10280,2278,2,227,36.0,265
4,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90.0,1009

In [8]:
df.describe()

,Page total likes,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
count,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,134.000000,133.000000,134.000000
mean,132805.373134,1.962687,8.171642,3.940299,7.395522,0.343284,14206.410448,28189.365672,996.059701,834.216418,1428.067164,15111.768657,7253.708955,723.388060,11.246269,239.268657,34.842105,285.097015
std,2490.393437,0.750005,1.051502,2.017820,3.988741,0.476587,22053.833469,47561.243647,1093.712748,900.632454,1953.129327,19860.937097,7763.722562,744.388551,35.274740,489.215886,71.460398,591.225615
min,128032.000000,1.000000,7.000000,1.000000,1.000000,0.000000,1006.000000,1594.000000,111.000000,90.000000,118.000000,1055.000000,651.000000,93.000000,0.000000,11.000000,1.000000,15.000000
25%,131300.000000,1.000000,7.000000,2.000000,3.000000,0.000000,3378.000000,5686.250000,429.750000,361.250000,526.000000,4084.500000,2263.500000,316.250000,2.000000,74.250000,11.000000,91.000000
50%,132509.000000,2.000000,8.000000,4.000000,9.000000,0.000000,5184.000000,9076.000000,600.000000,482.500000,726.000000,5901.500000,3252.000000,424.500000,4.000000,127.000000,22.000000,157.000000
75%,135195.000000,3.000000,9.000000,6.000000,10.000000,1.000000,15178.000000,32088.000000,1028.000000,902.000000,1385.000000,19551.500000,10358.000000,735.500000,9.000000,232.250000,40.000000,275.500000
max,136013.000000,3.000000,10.000000,7.000000,23.000000,1.000000,180480.000000,319133.000000,8072.000000,5934.000000,14974.000000,122474.000000,51456.000000,4376.000000,372.000000,5172.000000,790.000000,6334.000000

In [9]:

df.isnull().sum()

Page total likes                                                       0
Type                                                                   0
Category                                                               0
Post Month                                                             0
Post Weekday                                                           0
Post Hour                                                              0
Paid                                                                   0
Lifetime Post Total Reach                                              0
Lifetime Post Total Impressions                                        0
Lifetime Engaged Users                                                 0
Lifetime Post Consumers                                                0
Lifetime Post Consumptions                                             0
Lifetime Post Impressions by people who have liked your Page           0
Lifetime Post reach by people who like your Page                       0
Lifetime People who have liked your Page and engaged with your post    0
comment                                                                0
like                                                                   0
share                                                                  1
Total Interactions                                                     0
dtype: int64

In [12]:
df.shape

(134, 19)

In [13]:
df.dropna()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136013,Status,2,10,5,3,0,8896,17202,1480,1426,1932,13838,7020,1292,0,129,25.0,154
1,136013,Photo,1,10,4,10,1,4018,8617,428,374,616,6677,2992,351,4,77,19.0,100
2,136013,Link,1,10,4,3,0,68992,229733,1032,975,1345,17842,8032,635,15,143,44.0,202
3,136013,Status,3,10,3,10,0,13152,25666,2543,2438,3179,20547,10280,2278,2,227,36.0,265
4,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90.0,1009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,128032,Status,2,7,5,10,0,10188,16978,1473,1441,2136,14450,8536,1395,13,61,13.0,87
130,128032,Photo,1,7,5,3,0,6408,11881,909,861,14974,7243,4040,490,26,162,7.0,195
131,128032,Photo,1,7,4,9,1,3414,6050,515,493,710,5005,2704,340,2,47,4.0,53
132,128032,Photo,2,7,4,5,1,53056,65260,2003,1412,2089,23679,17104,975,6,696,28.0,730
133,128032,Photo,1,7,3,10,1,66976,111502,1191,1054,1641,40203,19968,708,7,215,47.0,269

In [15]:
df.shape

(134, 19)

In [18]:
df1 = df[['Page total likes','Category','Post Month', 'Post Weekday']].loc[0:15]
df1

    Page total likes  Category  Post Month  Post Weekday
0             136013         2          10             5
1             136013         1          10             4
2             136013         1          10             4
3             136013         3          10             3
4             136013         2          10             3
5             136013         3          10             2
6             136013         1          10             2
7             136013         1          10             1
8             136013         3          10             1
9             135713         3          10             7
10            135713         2          10             7
11            135713         1          10             6
12            135713         1          10             6
13            135713         2          10             5
14            135713         2          10             5
15            135713         1          10             4

In [19]:
df2 = df[['Page total likes','Category','Post Month', 'Post Weekday']].loc[16:30]
df2

    Page total likes  Category  Post Month  Post Weekday
16            135713         2          10             4
17            135700         2           9             3
18            135700         2           9             2
19            135700         3           9             2
20            135700         2           9             1
21            135617         2           9             1
22            135617         3           9             7
23            135617         2           9             7
24            135617         3           9             6
25            135617         2           9             6
26            135428         1           9             5
27            135428         2           9             5
28            135428         1           9             4
29            135428         3           9             4
30            135428         1           9             3

In [21]:
df3 = df[['Page total likes','Category','Post Month', 'Post Weekday']].loc[31:50]
df3

    Page total likes  Category  Post Month  Post Weekday
31            135428         2           9             3
32            135195         3           9             2
33            135195         1           9             2
34            135195         2           9             1
35            135195         1           9             1
36            135195         2           9             7
37            135195         2           9             6
38            135195         3           9             6
39            135195         1           9             5
40            135195         2           9             5
41            135195         2           9             4
42            134879         2           9             4
43            134879         1           9             3
44            134879         3           9             3
45            134879         1           9             2
46            134879         2           9             2
47            134879         1           9             1
48            134879         2           9             1
49            134879         2           9             7
50            134879         3           9             7

In [23]:
merging = pd.concat([df1,df2,df3])
merging

    Page total likes  Category  Post Month  Post Weekday
0             136013         2          10             5
1             136013         1          10             4
2             136013         1          10             4
3             136013         3          10             3
4             136013         2          10             3
5             136013         3          10             2
6             136013         1          10             2
7             136013         1          10             1
8             136013         3          10             1
9             135713         3          10             7
10            135713         2          10             7
11            135713         1          10             6
12            135713         1          10             6
13            135713         2          10             5
14            135713         2          10             5
15            135713         1          10             4
16            135713         2          10             4
17            135700         2           9             3
18            135700         2           9             2
19            135700         3           9             2
20            135700         2           9             1
21            135617         2           9             1
22            135617         3           9             7
23            135617         2           9             7
24            135617         3           9             6
25            135617         2           9             6
26            135428         1           9             5
27            135428         2           9             5
28            135428         1           9             4
29            135428         3           9             4
30            135428         1           9             3
31            135428         2           9             3
32            135195         3           9             2
33            135195         1           9             2
34            135195         2           9             1
35            135195         1           9             1
36            135195         2           9             7
37            135195         2           9             6
38            135195         3           9             6
39            135195         1           9             5
40            135195         2           9             5
41            135195         2           9             4
42            134879         2           9             4
43            134879         1           9             3
44            134879         3           9             3
45            134879         1           9             2
46            134879         2           9             2
47            134879         1           9             1
48            134879         2           9             1
49            134879         2           9             7
50            134879         3           9             7

In [25]:
sort_values = df.sort_values('Page total likes', ascending = False)
sort_values

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136013,Status,2,10,5,3,0,8896,17202,1480,1426,1932,13838,7020,1292,0,129,25.0,154
2,136013,Link,1,10,4,3,0,68992,229733,1032,975,1345,17842,8032,635,15,143,44.0,202
3,136013,Status,3,10,3,10,0,13152,25666,2543,2438,3179,20547,10280,2278,2,227,36.0,265
4,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90.0,1009
5,136013,Photo,3,10,2,10,1,16776,39549,714,440,720,11860,6200,590,10,377,60.0,447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128,128032,Photo,1,7,6,3,0,7232,12735,758,700,1236,8855,4712,471,2,75,24.0,101
127,128032,Photo,3,7,6,13,1,2628,4264,528,503,652,3086,1846,328,3,42,10.0,55
126,128032,Photo,3,7,7,3,0,38576,55398,1355,890,1328,17365,12624,827,7,529,60.0,596
124,128032,Photo,2,7,1,3,0,3330,5461,513,478,652,3675,2196,307,2,61,16.0,79
133,128032,Photo,1,7,3,10,1,66976,111502,1191,1054,1641,40203,19968,708,7,215,47.0,269

In [28]:
from sklearn.preprocessing import StandardScaler

In [31]:
scaler = StandardScaler()

In [34]:
sc = scaler.fit_transform(df1)

In [35]:
pd.DataFrame(sc).describe()

                  0          1     2             3
count  1.600000e+01  16.000000  16.0  1.600000e+01
mean   5.551115e-17   0.000000   0.0  2.775558e-17
std    1.032796e+00   1.032796   0.0  1.032796e+00
min   -1.133893e+00  -1.005970   0.0 -1.623442e+00
25%   -1.133893e+00  -1.005970   0.0 -6.957610e-01
50%    8.819171e-01   0.232147   0.0 -3.313148e-02
75%    8.819171e-01   0.541676   0.0  6.294981e-01
max    8.819171e-01   1.470264   0.0  1.557179e+00

In [36]:
transposing = df.transpose()
transposing

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
Page total likes,136013,136013,136013,136013,136013,136013,136013,136013,136013,135713,...,128032,128032,128032,128032,128032,128032,128032,128032,128032,128032
Type,Status,Photo,Link,Status,Status,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Status,Photo,Photo,Photo,Photo
Category,2,1,1,3,2,3,1,1,3,3,...,2,2,3,3,1,2,1,1,2,1
Post Month,10,10,10,10,10,10,10,10,10,10,...,7,7,7,7,7,7,7,7,7,7
Post Weekday,5,4,4,3,3,2,2,1,1,7,...,1,7,7,6,6,5,5,4,4,3
Post Hour,3,10,3,10,2,10,3,10,3,10,...,3,11,3,13,3,10,3,9,5,10
Paid,0,1,0,0,1,1,1,1,0,0,...,0,1,0,1,0,0,0,1,1,1
Lifetime Post Total Reach,8896,4018,68992,13152,31136,16776,50736,5324,18120,2291,...,3330,3528,38576,2628,7232,10188,6408,3414,53056,66976
Lifetime Post Total Impressions,17202,8617,229733,25666,59964,39549,140432,11040,44940,3960,...,5461,5918,55398,4264,12735,16978,11881,6050,65260,111502
Lifetime Engaged Users,1480,428,1032,2543,6164,714,1462,528,421,303,...,513,550,1355,528,758,1473,909,515,2003,1191
Lifetime Post Consumers,1426,374,975,2438,5934,440,1450,483,282,243,...,478,513,890,503,700,1441,861,493,1412,1054
Lifetime Post Consumptions,1932,616,1345,3179,9237,720,8308,861,463,325,...,652,787,1328,652,1236,2136,14974,710,2089,1641
Lifetime Post Impressions by people who have liked your Page,13838,6677,17842,20547,35977,11860,46252,8627,4401,3020,...,3675,4606,17365,3086,8855,14450,7243,5005,23679,40203
Lifetime Post reach by people who like your Page,7020,2992,8032,10280,18048,6200,15552,4054,2616,1723,...,2196,2660,12624,1846,4712,8536,4040,2704,17104,19968
Lifetime People who have liked your Page and engaged with your post,1292,351,635,2278,4376,590,1275,448,327,253,...,307,360,827,328,471,1395,490,340,975,708
comment,0,4,15,2,60,10,3,6,0,0,...,2,0,7,3,2,13,26,2,6,7
like,129,77,143,227,859,377,41,76,189,80,...,61,66,529,42,75,61,162,47,696,215
share,25.0,19.0,44.0,36.0,90.0,60.0,9.0,14.0,15.0,14.0,...,16.0,9.0,60.0,10.0,24.0,13.0,7.0,4.0,28.0,47.0
Total Interactions,154,100,202,265,1009,447,53,96,204,94,...,79,75,596,55,101,87,195,53,730,269

In [37]:
shaping = df.shape
shaping

(134, 19)

In [38]:
df.shape

(134, 19)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 19 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   Page total likes                                                     134 non-null    int64
 1   Type                                                                 134 non-null    object
 2   Category                                                             134 non-null    int64
 3   Post Month                                                           134 non-null    int64
 4   Post Weekday                                                         134 non-null    int64
 5   Post Hour                                                            134 non-null    int64
 6   Paid                                                                 134 non-null    int64
 7   Lifetime Post Total Reach                                            134 non-null    int64
 8   Lifetime Post Total Impressions                                      134 non-null    int64
 9   Lifetime Engaged Users                                               134 non-null    int64
 10  Lifetime Post Consumers                                              134 non-null    int64
 11  Lifetime Post Consumptions                                           134 non-null    int64
 12  Lifetime Post Impressions by people who have liked your Page         134 non-null    int64
 13  Lifetime Post reach by people who like your Page                     134 non-null    int64
 14  Lifetime People who have liked your Page and engaged with your post  134 non-null    int64
 15  comment                                                              134 non-null    int64
 16  like                                                                 134 non-null    int64
 17  share                                                                133 non-null    float64
 18  Total Interactions                                                   134 non-null    int64
dtypes: float64(1), int64(17), object(1)
memory usage: 19.4+ KB

In [40]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [41]:
df.head()

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,136013,Status,2,10,5,3,0,8896,17202,1480,1426,1932,13838,7020,1292,0,129,25.0,154
1,136013,Photo,1,10,4,10,1,4018,8617,428,374,616,6677,2992,351,4,77,19.0,100
2,136013,Link,1,10,4,3,0,68992,229733,1032,975,1345,17842,8032,635,15,143,44.0,202
3,136013,Status,3,10,3,10,0,13152,25666,2543,2438,3179,20547,10280,2278,2,227,36.0,265
4,136013,Status,2,10,3,2,1,31136,59964,6164,5934,9237,35977,18048,4376,60,859,90.0,1009

In [46]:
df.transpose()

,0,1,2,3,4,5,6,7,8,9,...,124,125,126,127,128,129,130,131,132,133
Page total likes,136013,136013,136013,136013,136013,136013,136013,136013,136013,135713,...,128032,128032,128032,128032,128032,128032,128032,128032,128032,128032
Type,Status,Photo,Link,Status,Status,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Status,Photo,Photo,Photo,Photo
Category,2,1,1,3,2,3,1,1,3,3,...,2,2,3,3,1,2,1,1,2,1
Post Month,10,10,10,10,10,10,10,10,10,10,...,7,7,7,7,7,7,7,7,7,7
Post Weekday,5,4,4,3,3,2,2,1,1,7,...,1,7,7,6,6,5,5,4,4,3
Post Hour,3,10,3,10,2,10,3,10,3,10,...,3,11,3,13,3,10,3,9,5,10
Paid,0,1,0,0,1,1,1,1,0,0,...,0,1,0,1,0,0,0,1,1,1
Lifetime Post Total Reach,8896,4018,68992,13152,31136,16776,50736,5324,18120,2291,...,3330,3528,38576,2628,7232,10188,6408,3414,53056,66976
Lifetime Post Total Impressions,17202,8617,229733,25666,59964,39549,140432,11040,44940,3960,...,5461,5918,55398,4264,12735,16978,11881,6050,65260,111502
Lifetime Engaged Users,1480,428,1032,2543,6164,714,1462,528,421,303,...,513,550,1355,528,758,1473,909,515,2003,1191
Lifetime Post Consumers,1426,374,975,2438,5934,440,1450,483,282,243,...,478,513,890,503,700,1441,861,493,1412,1054
Lifetime Post Consumptions,1932,616,1345,3179,9237,720,8308,861,463,325,...,652,787,1328,652,1236,2136,14974,710,2089,1641
Lifetime Post Impressions by people who have liked your Page,13838,6677,17842,20547,35977,11860,46252,8627,4401,3020,...,3675,4606,17365,3086,8855,14450,7243,5005,23679,40203
Lifetime Post reach by people who like your Page,7020,2992,8032,10280,18048,6200,15552,4054,2616,1723,...,2196,2660,12624,1846,4712,8536,4040,2704,17104,19968
Lifetime People who have liked your Page and engaged with your post,1292,351,635,2278,4376,590,1275,448,327,253,...,307,360,827,328,471,1395,490,340,975,708
comment,0,4,15,2,60,10,3,6,0,0,...,2,0,7,3,2,13,26,2,6,7
like,129,77,143,227,859,377,41,76,189,80,...,61,66,529,42,75,61,162,47,696,215
share,25.0,19.0,44.0,36.0,90.0,60.0,9.0,14.0,15.0,14.0,...,16.0,9.0,60.0,10.0,24.0,13.0,7.0,4.0,28.0,47.0
Total Interactions,154,100,202,265,1009,447,53,96,204,94,...,79,75,596,55,101,87,195,53,730,269

In [47]:
pd.melt(df, id_vars=["Post Month"], value_vars=["Category", "Page total likes"])

     Post Month          variable   value
0            10          Category       2
1            10          Category       1
2            10          Category       1
3            10          Category       3
4            10          Category       2
..          ...               ...     ...
263           7  Page total likes  128032
264           7  Page total likes  128032
265           7  Page total likes  128032
266           7  Page total likes  128032
267           7  Page total likes  128032

[268 rows x 3 columns]

In [49]:
reshaping_array = np.array([1,2,3,4,5,6,7,8,9,10])
reshaping_array.reshape(5,2)

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10]])